* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  transition: all 0.1s ease;
}

body {
  background-color: #000;
}

div.about-container {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

h1.section-title {
  margin: 0 2rem;
  font-size: 2.5rem;
  margin-top: 5rem;
  color: #3ae7ff;
}

h2.about-title {
  font-size: 3rem;
  margin: 2rem 0;
  color: #004056;
}

p.info {
  padding: 0 40rem;
  color: #fff;
  margin: 5rem 0;
  text-align: center;
}

p.about-important {
  color: #3ae7ff;
}

p.special-text {
  color: #ffd902;
}

section p.info a {
  cursor: pointer;
  font-style: none;
  font-weight: bolder;
  color: #3ae7ff;
}

div.space {
  border-top: 0.15rem #fff solid;
  width: 3%;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

section.abilities {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  margin: auto 10rem;
  margin-top: 2rem;
  padding: 3rem;
}

article.ability-container {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5rem;
}

.abilitiesIcon {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1.2rem;
  clip-path: circle(45% at 50% 50%);
  background-color: #3ae7ff;
  color: #000;
}

h2.ability-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #3ae7ff;
}

p.ability-description {
  font-size: 1rem;
  margin: auto 10%;
  text-align: center;
  color: #fff;
}

section.project-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  padding: 5rem;
  margin: auto;
}

article.project-section-preview {
  color: #fff;
  border-radius: 3rem;
  margin: 5rem 30rem;
  padding: 1rem;
}

h3.project-title {
  color: #3ae7ff;
  margin: 0.8rem;
  font-size: 1.8rem;
}

section.links-container {
  padding: 1rem;
  margin: 1rem auto;
}

button.view-site,
button.view-code {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: #004056;
  color: #fff;
}

button.view-site:hover,
button.view-code:hover {
  cursor: pointer;
  background-color: #3ae7ff;
  color: #004056;
}

section#contact {
  margin: 5rem;
  margin-bottom: 8rem;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  background-color: #004056;
  color: #fff;
  padding: 1.5rem;
  font-size: 0.8rem;
  border-top: 0.3rem solid #3ae7ff;
}

@media (min-width: 1200px) {
  p.info {
    margin: 2.5rem 30%;
  }

  p.ability-description {
    font-size: 1rem;
    margin: auto 30%;
  }
}

@media (max-width: 1199px) {
  p.info {
    margin: 0 20%;
  }

  p.ability-description {
    font-size: 1rem;
    margin: auto 20%;
  }
  article.project-section-preview {
    margin: 5rem 8rem;
  }
  section.abilities {
    display: grid;
    grid-template-columns: 0.5fr;
    margin-top: 2rem;
    padding: 1rem;
  }

  section.project-preview {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  p.info {
    padding: 0 1rem;
  }

  section.abilities {
    font-size: 0.8rem;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: auto;
  }

  button.view-site,
  button.view-code {
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: #004056;
    color: #fff;
  }

  footer {
    font-size: 0.8rem;
  }
  article.project-section-preview {
    margin: 5rem 8rem;
  }
}

@media (max-width: 600px) {
  p.info {
    padding: 0 0.5rem;
  }

  section.abilities {
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    margin: auto;
  }

  p.ability-description {
    font-size: 1rem;
    margin: auto 5%;
    font-size: 0.8rem;
  }

  section.project-preview {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 0rem;
    padding: 0.5rem;
    margin: auto;
  }

  article.project-section-preview {
    margin: 5rem 1rem;
  }

  button.view-site,
  button.view-code {
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: #004056;
    color: #fff;
  }

  section#contact {
    font-size: 0.8rem;
    margin: 1rem;
    margin-bottom: 8rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
